VITE_SUI_NETWORK=testnet
VITE_SUI_RPC_URL=https://fullnode.testnet.sui.io:443
VITE_SUI_EXPLORER_TX_BASE=https://testnet.suivision.xyz/txblock/

VITE_PACKAGE_ID=0xYOUR_PACKAGE_ID
VITE_MODULE_NAME=checkout
VITE_MERCHANT_TYPE_NAME=Merchant
VITE_PRODUCT_TYPE_NAME=Product
VITE_INVOICE_TYPE_NAME=Invoice
VITE_RECEIPT_TYPE_NAME=Receipt

VITE_CREATE_PRODUCT_FN=create_product
VITE_CREATE_INVOICE_FN=create_invoice
VITE_PAY_INVOICE_FN=pay_invoice

VITE_PAY_COIN_TYPE=0x2::sui::SUI
VITE_MERCHANT_ID=0xYOUR_MERCHANT_OBJECT_ID

VITE_STABLE_LAYER_NETWORK=testnet
VITE_STABLE_LAYER_STABLE_COIN_TYPE=0xYOUR_STABLE_COIN_TYPE
VITE_STABLE_LAYER_BRAND_USD_TYPE=0xYOUR_BRAND_USD_TYPE
VITE_STABLE_LAYER_USDC_TYPE=0xYOUR_USDC_TYPE
